* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

body {
  background-color: #080808;
  color: #fff;
}



/* #nav-menu {
  position: fixed;
  width: 100%;
  height: 60px;
  /* border: 1px solid grey; */
/* display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  background-color: rgb(32, 32, 74); */

/* } */

/* #nav-menu a {
  margin-left: 20px;
} */
*/
/* #in {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
} */

/* #in div a {
  margin: 15px;
  padding: 10px;

} */

/* #port>a {
  font-size: x-large;
} */

#nav-menu {
  width: 100%;
  height: auto;
  padding: 10px 10%;
  position: fixed;
  background-color: rgb(46, 41, 41);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav .fas {
  display: none;
}

.logo {
  font-size: 30px;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: rgb(97, 223, 97);
  text-decoration: none;
  font-size: 20px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: rgb(97, 223, 97);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

@media screen and (min-width:320px) and (max-width:650px) {
  nav .fas {
    display: block;
    font-size: 22px;
  }

  .custom-width {
    width: -webkit-fill-available;
  }

  #user-detail-intro {
    width: 90%;
  }

  nav ul {

    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    background-color: rgb(46, 41, 41);
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 22px;
  }

  nav ul .fas {
    position: absolute;
    top: 22px;
    left: 22px;
    cursor: pointer;
  }
}

/* nav bar css end */

#main-cont {

  width: 100%;
  border: 1px solid white;
  height: 1200px;
}



#home {
  width: 100%;
  height: 500px;
  /* border: 1px solid yellow; */
  margin-top: 100px;
  display: flex;

}

#home>#hlf {

  width: 55%;
  height: fit-content;
  /* border: 1px solid grey; */
  margin-bottom: 1rem;

}

#hlf>#hl {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

.text-1 {
  font-size: 27px;
}

.text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.text-3 span {
  color: Tomato;
  font-weight: 500;
}

#hlf h1 {
  font-size: 65px;

}

#hlf h2 {
  font-size: 40px;
  font-family: serif;
}


#home>#hr {

  width: 45%;
  height: 100%;
  /* border: 1px solid grey; */

}

/* #para{
  width: 90%;
  font-family: serif;
} */
.container {
  margin-top: -5%;

}

.container p {
  font-size: 20px;
  margin-top: 35px;

}

.container button {
  padding: 4px;
  border-radius: 5px;
  margin-top: 20px;
}

.basicinfo {
  margin-top: 25px;

}

.basicinfo>#github-contact {
  margin: 0px 25px 0px 0px;
}

.basicinfo>#linkedin-contact {
  margin: 0px 25px 0px 0px;
  font-size: larger;
}


#bsi>p {
  font-size: 38px;
}

#photo {
  width: 20%;
  height: 70px;
  /* border: 1px solid grey ; */
  /* margin-top: ; */
  margin-left: 25%;
  border-radius: 5px;
}

#photo img {
  height: 400px;
  width: 330px;
  border-radius: 10%;
}

#aboutme {
  text-align: center;
  margin-bottom: 40px;

}

#resume-button-2 {
  display: block;
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  /* text-align: center; */
}

#about {
  margin: auto;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-color: #434343;

}


.positive img {
  /* margin: 30px;
  height: 500px; */
  width: 100%;
}

#user-detail-intro {
  width: 50%;
  height: auto;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.skil {
  margin: auto;
  /* margin-top: 30px; */
  text-align: center;
  margin: 40px;
  margin-top: 60px;
}

#skills {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
  /* text-align: center; */
  /* align-items: center; */

}

.skills-card {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 20px;
}

.skills-card img {
  display: block;
  width: 200px;
  margin: 15px;
  margin-left: 35px;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

}

#pro {
  text-align: center;
  margin: 20px;
}

#projects {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: auto;
  /* text-align: center; */
  /* align-items: center; */

}

.project-card {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 20px;
}

.project-card img {
  width: 100%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 10px;
  padding: 5px;
}

.project-card h3 {
  margin: 7px;
}

.project-card p {
  margin: 7px;
}

.project-github-link {
  display: inline;
}

.project-deployed-link {
  display: inline;
}

.react-activity-calendar>h1 {
  text-align: center;
  margin-top: 40px;
  /* border: 1px solid red; */
}

/* #github-top-langs {
  /* height: 200px;
  width: 350px; */
/* } */

 #My_github_details {

  width: 80%;
  margin: auto;
  gap: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.calendar {

  width: 90%;
  /* margin-top: 20px; */
}


#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#contact_inner {
  /* width: 400px; */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  gap: 3rem;
}


/* ////small screens */
@media all and (min-width:200px) and (max-width:800px) {
  #home {
    flex-direction: column;
    height: 1200px;
    /* border: 1px solid red; */
    margin-left: 160px;
    margin: auto;
  }

  .custom-width {
    width: -webkit-fill-available;
  }

  #user-detail-intro {
    width: 90%;
  }

  #home>#hlf {
    width: auto;
  }

  #about {
    flex-direction: column;
    height: auto;
    /* margin-top: 400px; */
    margin: auto;
  }

  #skills {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    margin: auto;
  }

  #projects {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    margin: auto;
  }

  #My_github_details {
    /* grid-template-columns: repeat(1, 1fr); */
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #contact_inner {
    flex-direction: column;
    height: auto;
    margin: auto;
    
  }

  .positive img {
    width: 100%;
  }
}

/* medium screen */
@media all and (min-width:801px) and (max-width:1024px) {
  #home {
    flex-direction: column;
    height: 1050px;
    /* margin-left: 160px; */
    /* border: 1px solid green; */
    margin: auto;
  }

  .custom-width {
    width: -webkit-fill-available;
  }

  #home>#hlf {
    width: auto;
  }


  #about {
    flex-direction: column;
    height: auto;
    /* margin-top: 400px; */
    margin: auto;
  }

  #skills {
    /* flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: auto;
  }

  #projects {
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    margin: auto;
  }

  #My_github_details {
    /* grid-template-columns: repeat(2, 1fr); */
    flex-direction: column;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #contact_inner {
    flex-direction: column;
    height: auto;
    margin: auto;
    
  }

  .positive img {
    width: 100%;
  }
}